<main>
  <section id="create-container">
    <div class="create-container-info">
      <h1>Create Course</h1>
      <form action="/courses/create" method="POST">
        <label>Title:</label>
        <input name="title" type="text" id="title" value="{{courseData.title}}" />

        <label>Type:</label>
        <input name="type" type="text" id="type" value="{{courseData.type}}" />

        <label>Certificate:</label>
        <input name="certificate" type="text" id="certificate" value="{{courseData.certificate}}" />

        <label>Image:</label>
        <input name="image" type="text" id="image" placeholder="http://..." value="{{courseData.image}}" />

        <label>Description:</label>
        <textarea id="content" name="description">{{courseData.description}}</textarea>

        <label>Price:</label>
        <input name="price" type="number" id="price" value="{{courseData.price}}" />

        <input type="submit" id="btn" value="Create" />
      </form>
    </div>
  </section>
</main>
