<main>
  <div class="details-container">
    <div class="details-container-image">
      <img
        src="https://wpvip.edutopia.org/wp-content/uploads/2022/10/johnson-169hero-effectivelearn-shutterstock_1.jpg?w=2880&quality=85"
      />
    </div>
    <div class="details-container-info">
      <h2>Title: {{courseData.title}}</h2>
      <h3>Type: {{courseData.type}}</h3>
      <h3>Certificate: {{courseData.certificate}}</h3>
      <h3>Price: €{{courseData.price}}</h3>
      <h3>By: {{courseData.email}}</h3>
      <!--If there are sign up users-->
      <h4>Signed By: {{courseData.getSignUpList}}</h4>
      <!--If there are no sign up users-->
      <h4>Nobody has signed in for this course yet</h4>
    </div>
    <div class="details-container-content">
      <p>Curabitur fringilla nec urna sit amet eleifend. Suspendisse sodales
        vitae tellus sit amet dictum. Vivamus condimentum blandit interdum.
        Donec ac placerat enim. Pellentesque elementum condimentum massa, id
        condimentum lorem maximus sit amet. Vivamus accumsan imperdiet urna,
        eget malesuada felis iaculis quis. Nunc orci neque, blandit nec lorem
        eu, mattis porta erat. Etiam et imperdiet tellus. Nulla ac gravida
        tellus.</p>
    </div>
    {{#if isUser}}
    <div  class="btn-container">
      <!-- Only for registered user and creator of the course-->
      {{#if isOwner }}
      <a href="#">Edit</a>
      <a href="#">Delete</a>
      {{/if}}
      <!-- logged in user who has not yet sign up for the course-->
      {{#if notEnrolled}}
      <a href="/courses/details/{{_id}}?singUp=1">Sign up</a>
      {{else}}
      <!-- logged in user who has already sign up for the course-->
      <p class="sign-up">You've already signed up for this course!</p>
      {{/if}}
    </div>
    {{/if}}
  </div>
</main>
